<%=audio_tag "beep.mp3", id:"beep" %>
<%=audio_tag "correct.wav", id:"correct" %>
<%=audio_tag "wrong.mp3", id:"wrong" %>


<div class="card" id="question" data-answer="3">

<div class="qbox" id="">
    <p>elephant</p>
</div>
<ul class="qnums">
<li class="qnum" id="1">
    <p>1</p>
    <p>새</p>
</li>
<li class="qnum" id="2">
    <p>2</p>
    <p>쥐</p>
</li>
<li class="qnum" id="3">
    <p>3</p>
    <p>말</p>
</li>
<li class="qnum" id="4">
    <p>4</p>
    <p>코끼리</p>
</li>
<li class="qnum" id="5">
    <p>5</p>
    <p>개</p>
</li></ul>
</div>